.container{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: #fff;
}
.container .header{
    position: absolute;
    /* display: flex;
    justify-content: center; 
    align-items: center;      */
    /* padding: 10px; */
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    box-sizing: border-box;
    color: #fff;
}

.container .aside{
    position: absolute;
    height: 85%;
    width: 20%;
    bottom: 0;
    left: 0;
    background-color: lightseagreen;
    color: inherit;
}

.container .main{
    position: absolute;
    height: 85%;
    width: 80%;
    bottom: 0;
    right: 0;
    color: black;
    box-sizing: border-box;
    padding: 10px;
}